body {
    color: black!important;
}

.point {
    margin-top: 40px;
    padding: 30px 0;
}

.align-card {
    justify-content: space-evenly;
    gap: 10px;
}

.pick-card {
    border-radius: 15px;
    padding: 20px 0;
    background-color: #d6d6d6;
    width: 49%;
}

.pick-card ul {
    list-style-type: none;
}

.pick-card li {
    font-weight: 300;
    
}

.pic-allmuscle {
    width: 100%;
    height: auto;
}

.col-4, .col-8 {
    align-content: center;
}

.button-check ,.button-nonecheck {
    padding: 10px 30px;
    background-color: #00890b;
    border: none;
    width: 50%;
    margin: auto;
}

.button-check:hover {
    background-color: #015e08;
}

.button-nonecheck {
    background-color: #1c1c1c;
}

.button-nonecheck:hover {
    background-color: #1c1c1c!important;
}

.footer {
    background-color: #1C1C1C;
    font-weight: 300;
}

.pic-contact {
    margin-right: 10px;
}

.social-links {
    display: flex;
    flex-direction: row;
    /* จัดเรียงไอคอนในแนวตั้ง */
    gap: 15px;
    /* ระยะห่างระหว่างไอคอน */
    margin-top: 10px;
    /* ระยะห่างระหว่างหัวข้อกับไอคอน */
}

.pic-contact {
    transition: transform 0.3s ease;
    /* เพิ่มแอนิเมชันเมื่อ hover */
}

.pic-contact:hover {
    transform: scale(1.1);
    /* ขยายไอคอนเมื่อ hover */
}

@media screen and (max-width: 990px) {
    .pick-card {
        width: 100%;
    }
}