body {
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

.reservation {
    margin-top: 70px;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.arrow-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
}

.arrow-btn:hover {
    background-color: #777;
    
}

.time-range {
    display: flex;
    background-color: #555;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
    width: 80%;
}

.time-slot {
    background-color: #ccc;
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-left: 3px solid #333;
    cursor: pointer;
    font-size: 14px;
}

.time-slot:first-child {
    border-left: none;
}

.time-slot.active {
    background-color: #ff9100;
    color: white;
}

.machine {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
}

.text-head {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.text-head h4 {
    font-weight: 300;
}

.box-alert {
    width: 25px;
    height: 25px;
    margin: 10px 5px;
}

.red {
    background-color: #ff0000;
}

.orange {
    background-color: #ff9100;
}

.green {
    background-color: #009402;
}

.box-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.box-color .col-10 {
    width: 75%;
    color: #fff;
    font-weight: 300;
}

.col-12 , .head-column {
    text-align: center;
}


.pic-row {
    width: 10%;
}

.pic-machine {
    width: 30%;
    margin: 10px 0;
}

.groupD{
    width: 60% !important;
}

.for-mb {
    display: none;
}

.botton-reservation {
    text-align: center;
    margin: 20px auto;
    display: flex; /* ใช้ Flexbox */
    justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
    align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
}

.btn-con {
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; /* จัดเรียงในแนวตั้ง */
    align-items: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
}

.btn-res {
    display: inline-block; /* ทำให้ลิงก์ดูเหมือนปุ่ม */
    padding: 10px 30px; /* เพิ่ม padding */
    background-color: #ff9100; /* สีพื้นหลัง */
    color: white; /* สีข้อความ */
    text-decoration: none; /* ลบเส้นใต้ */
    border-radius: 5px; /* ทำให้มุมของปุ่มโค้งมน */
    margin-bottom: 10px; /* เพิ่มระยะห่างระหว่างปุ่มกับลิงก์ */
}

.btn-res:hover {
    background-color: #b46c00; /* เปลี่ยนสีเมื่อวางเมาส์อยู่เหนือ */
}

.footer {
    background-color: #1C1C1C;
    font-weight: 300;
}

.pic-contact {
    margin-right: 10px;
}

.social-links {
    display: flex;
    flex-direction: row;
    /* จัดเรียงไอคอนในแนวตั้ง */
    gap: 15px;
    /* ระยะห่างระหว่างไอคอน */
    margin-top: 10px;
    /* ระยะห่างระหว่างหัวข้อกับไอคอน */
}

.pic-contact {
    transition: transform 0.3s ease;
    /* เพิ่มแอนิเมชันเมื่อ hover */
}

.pic-contact:hover {
    transform: scale(1.1);
    /* ขยายไอคอนเมื่อ hover */
}


.container-res {
    display: none;
    max-width: 80%;
    margin: 20px auto;
    background-color: #1a2d3d;
    border-radius: 10px;
    padding: 30px;
}

.machine-image {
    text-align: center;
}

.machine-image img {
    max-width: 20%;
    border-radius: 10px;
    
}
.info {
    text-align: left;
    margin-top: 15px;
}
.info p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 300;
}
.container-res .dropdown {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px;
    margin-left: 10px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.container-res .btn {
    padding: 12px;
    width: 48%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
}
.container-res .btn-cancel {
    background-color: #ff4d4d;
    color: #fff;
}
.container-res  .btn-confirm {
    background-color: #4caf50;
    color: #fff;
}
.muscle-info {
    margin-top: 15px;
    text-align: left;
}
.highlight {
    background-color: #fff;
    color: #000;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.highlight img {
    max-width: 80px;
    margin-right: 15px;
}

.click-res {
    color: #fff;
}

.content p {
    font-weight: 300;
    margin: 0;
}

.content h4 {
    margin-top: 15px;
}

.content li {
    font-family: "Bai Jamjuree", sans-serif !important;
}

@media screen and (max-width: 990px) {

    .for-pc {
        display: none;
    }

    .for-mb {
        display: flex;
        justify-content: space-evenly;
    }
    .btn-group {
        width: 22%;
    }

    .btn-active {
        background-color: #ff9100;
    }

}


@media screen and (max-width: 800px) { 
    .machine-image img {
        max-width: 30%;
        
    }
}

@media screen and (max-width: 500px) { 
    .machine-image img {
        max-width: 40%;
        
    }
}