@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: "Bai Jamjuree", sans-serif;
    margin: 20px;
    background-color: #f0f0f0; /* สีพื้นหลังเป็นเทาอ่อน */
    color: #333; /* สีข้อความเป็นเทาเข้ม */
}

h1 {
    text-align: center;
    color: #444; /* สีหัวข้อเข้มขึ้น */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff; /* สีพื้นหลังของตาราง */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้ตาราง */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #f9f9f9; /* สีพื้นหลังของเซลล์ */
}

th {
    background-color: #e0e0e0; /* สีพื้นหลังของหัวข้อในตาราง */
    color: #333;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.add-button {
    background-color: #007BFF;
    color: white;
}

.view-results-button {
    background-color: #FFA500;
    color: white;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #e41e1e;
}

.add-button:hover {
    background-color: #0056b3;
}

.view-results-button:hover {
    background-color: #e68900;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 10px;
}
