nav {
    background-color: #1C1C1C;
}

a {
    text-decoration: none;
}

.navactive a {
    background-color: #FF832A;
    color: #000;
    border-radius: 15px;
}

.nav-item a.active {
    background-color: #FF832A;
    color: #000;
    border-radius: 15px;
}

.nav-link:hover {
    color: #007bff;
    /* สีที่จะแสดงเมื่อ hover */
}

/* ถ้าต้องการเปลี่ยนสีพื้นหลังเมื่อ hover ด้วย */
.nav-item:hover {
    background-color: #545454;
    border-radius: 15px;
}


.navbar-nav .nav-link,
.navbar-toggler,
.btn {
    color: white !important;
}

.form-control {
    color: #000;
}

 .navbar-toggler-icon {
    filter: invert(1);
}

 .usersetting {
    margin-left: 15px;
}

.btn-login {
    margin-left: 10px;
    background-color: transparent;
    right: 20px;
    top: 10px;
}

.icon {
    font-size: 48px;
    color: #fff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #FF832A;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #FF832A;
    border-color: #FF832A;
}

.profile {
    margin: 0 0 0 auto;
}

.click {
    padding: 0px;
    width: 70px;
}
