body {
    background: linear-gradient(to bottom, #0D1724, #1A3350);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif; /* ใช้ฟอนต์ Bai Jamjuree สำหรับเนื้อหา */
}
.signup-container {
    background-color: #1A3350;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    width: 320px;
}
h1 {
    font-family: 'Kanit', sans-serif; /* ใช้ฟอนต์ Kanit สำหรับหัวข้อ */
    color: white;
    margin-bottom: 30px;
}
input[type="text"], input[type="password"], input[type="email"] {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.signup-button {
    background-color: #FF7900;
    color: white;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 10px;
}
p {
    color: white;
}
.back-to-login {
    margin-top: 20px;
    color: #FF7900;
}
.back-to-login a {
    color: #FF7900;
    text-decoration: none;
}
