body {
  background-color: #0a1930;
  color: white;
  font-family: 'Kanit', sans-serif; /* ใช้ฟอนต์ Kanit สำหรับเนื้อหาทั้งหมด */
}

.card-custom {
  background-color: #112c4e;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 22px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff4d4d;
}

.icon-section {
  font-size: 1.2rem;
  color: white;
}

.text-primary-custom {
  color: white;
}

.rounded-img {
  border-radius: 10px;
}

a, p, li {
  color: white;
}

.bordered-icon-text {
  border: 2px solid white;
  padding: 5px 15px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
}

.bordered-icon-text i {
  margin-right: 10px;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
}

.icon-and-profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-container {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  pointer-events: none;
}

.share-icon {
  font-size: 24px;
  color: white;
  margin-left: 10px;
}

/* ทุกหัวข้อใช้ฟอนต์ Kanit */
h2, h4 {
  font-family: 'Kanit', sans-serif; /* ใช้ฟอนต์ Kanit สำหรับหัวข้อ */
}

/* คลาสสำหรับใช้ฟอนต์ Bai Jamjuree */
.bai-jamjuree {
  font-family: 'Bai Jamjuree', sans-serif; /* ใช้ฟอนต์ Bai Jamjuree */
}

/* เพิ่มระยะห่างให้ไอคอนกับข้อความ */
.bai-jamjuree i {
  margin-right: 5px; /* เพิ่มระยะห่างด้านขวาของไอคอน */
}
